<div class="card">
  <h5 class="card-header">EDIT AWESOME</h5>
  <div class="card-body">
    <form [formGroup]="awesomeEditForm" (ngSubmit)='Onsubmit()' class="col-md-6 offset-md-3">
      <div class="form-group row">
        <label class="col">Tag:
          <input type="text" class="form-control" formControlName="tag">
        </label>
      </div>
      <div *ngIf="awesomeEditForm.get('tag').invalid && awesomeEditForm.get('tag').touched" class="alert alert-danger">
        Title is required
      </div>
      <div class="form-group row">
        <label class="col">Url:
          <input type="text" class="form-control" formControlName="url">
        </label>
      </div>
      <div *ngIf="awesomeEditForm.get('url').invalid && awesomeEditForm.get('url').touched" class="alert alert-danger">
        Title is required
      </div>
      <div class="form-group row">
        <label class="col">Descriptions:
          <input type="text" class="form-control" formControlName="descriptions">
        </label>
      </div>
      <div *ngIf="awesomeEditForm.get('descriptions').invalid && awesomeEditForm.get('descriptions').touched" class="alert alert-danger">
        Author is required
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
      <button type="cancel" class="btn btn-outline-dark" routerLink="">Cancel</button>
    </form>
  </div>
</div>
